{% extends 'base/base.html' %}
{% load staticfiles %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/style3.css' %}">
{% endblock %}

{% block title %}
Recuperacion Exitosa
{% endblock %}

{% block content %}
    <div class="alert alert-info" role="alert">
        Se ha mandado un email con intrucciones para restaurar tu contraseña,
        <a href="{% url 'login' %}" class="alert-link">Iniciar Sesion</a>
    </div>
    <div class="container-fluid" style="height: 750px;">

    </div>
{% endblock %}