{% extends 'base/base.html' %}
{% load staticfiles %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/style3.css' %}">
{% endblock %}

{% block title %}
Agregar
{% endblock %}

{% block content %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div id="formulario" class="form-group" >
        <h1 id="registroTittle">Agregar Vehiculo</h1>
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        {{field.label}}: {{error}}
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    {{error}}
                </div>
            {% endfor %}
        {% endif %}
        <div class="form-row">
            <div class="col-lg-12">
                <label id="lblmarca">Marca:</label>
                <select class="form-control" id="id_marca" required name="marca">
                    {% for x,y in form.fields.marca.choices %}
                    <option value="{{ x }}" {% if form.fields.gender.value == x %} selected{% endif %}>{{ y }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg-12">
                <label id="lblanio">Año Produccion:</label>
                <input type="number" class="form-control" name="year" required placeholder="XXXX">
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg-12">
                <label id="lblmodelo">Modelo:</label>
                <input type="text" class="form-control" name="modelo" required>
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg-12">
                <label id="lblMotor">Motor:</label>
                <input type="text" class="form-control" name="motor" required>
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg-12">
                <label id="lblprecio">Precio:</label>
                <input type="number" class="form-control" name="precio" required>
            </div>
        </div>
        <div class="form-row">
            <label for="lblImgFront">Imagen Frontal</label>
            <input type="file" class="form-control-file" name="imgFront"  required>
        </div>
        <div class="form-row">
            <label for="lblImgSide">Imagen Lateral</label>
            <input type="file" class="form-control-file" name="imgSide" required>
        </div>
        <div class="form-row">
            <label for="lblImgBack">Imagen Trasera</label>
            <input type="file" class="form-control-file" name="imgBack"  required>
        </div>
        <div class="form-row">
            <label for="lblImgInterior">Imagen Interior</label>
            <input type="file" class="form-control-file" name="imgInside" required>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
</form>
{% endblock %}