{% extends 'base/base.html' %}
{% load staticfiles %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/style3.css' %}">
{% endblock %}

{% block title %}
Buscador
{% endblock %}

{% block content %}
<form method="get">
    <div id="formulario" class="form-group">
        <div class="form-row">
            <div class="col-md-4 col-sm-12">
                <label id="lblmarca">Marca:</label>
                <select class="form-control" id="id_marca" name="marca">
                    {% for x,y in filter.form.fields.marca.choices %}
                    <option value="{{ x }}" {% if form.fields.gender.value == x or form.marca.value == x %}
                        selected{% endif %}>{{ y }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-4 col-sm-12">
                <label id="lblanio">Año Produccion:</label>
                <input type="number" class="form-control" name="year">
            </div>
            <div class="col-md-4 col-sm-12">
                <label id="lblmodelo">Modelo:</label>
                <input type="text" class="form-control" name="modelo">
            </div>
        </div>

        <button type="submit" class="btn btn-primary border-bottom my-3">Buscar</button>
    </div>
</form>
<div id="tabla" class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Modelo</th>
                <th scope="col">Marca</th>
                <th scope="col">Año Produccion</th>
                <th scope="col">Precio</th>
                <th scope="col">Vendido</th>
            </tr>
        <tbody>

            {% for vehiculo in filter.qs %}
            <tr>
                <td>{{ vehiculo.id }}</td>
                <td>{{ vehiculo.modelo }}</td>
                <td>{{ vehiculo.marca }}</td>
                <td>{{ vehiculo.year }}</td>
                <td>{{ vehiculo.precio }}</td>
                <td>
                    {% if vehiculo.vendido %}
                    Si
                    {% else %}
                    No
                    {% endif %}
                </td>
                <td><a class="text-danger" href="/producto/eliminar_vehiculo/{{ vehiculo.id }}" onclick="return confirm('¿Esta seguro de borrar?');">Eliminar</a></td>
                <td><a class="text-danger" href="/producto/editar_vehiculo/{{ vehiculo.id }}" >Modificar</a></td>
            </tr>
            {% endfor %}
            </tr>
        </tbody>
        </thead>
    </table>
    <div class="container-fluid" style="height: 400px;">

        </div>
</div>
{% endblock %}